<ion-header>
  <ion-toolbar>
    <ion-title>Nova Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Valor da Diária</ion-label>
    <ion-input type="number" [(ngModel)]="diaria"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Quantidade de Dias: {{ dias }}</ion-label>
  </ion-item>
  <ion-range min="1" max="30" [(ngModel)]="dias"></ion-range>

  <ion-button expand="full" (click)="continuar()">Continuar</ion-button>
</ion-content>
